{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">

Student Management Dashboard

</h1>

<div class="row">

<div class="col-md-3">

<div class="card text-bg-primary">

<div class="card-body">

<h3>

{{ total_students }}

</h3>

<p>

Students

</p>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-bg-success">

<div class="card-body">

<h3>

{{ total_departments }}

</h3>

<p>

Departments

</p>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-bg-warning">

<div class="card-body">

<h3>

{{ total_courses }}

</h3>

<p>

Courses

</p>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-bg-danger">

<div class="card-body">

<h3>

{{ average_cgpa|floatformat:2 }}

</h3>

<p>

Average CGPA

</p>

</div>

</div>

</div>

</div>

<br>

<a
href="{% url 'student_list' %}"
class="btn btn-primary">

View Students

</a>

{% endblock %}